table{
    width:100%;
    /* background-color: blue; */
    color: white;
  }
  thead{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  table .i{
  
    
    background-color: rebeccapurple;
  }
  table .iname{
    width: 100px;
    background-color: yellowgreen;
  
  }
  td{
    width:500px;
    background-color: white;
    color: black;
  }